<div class="row">

	<div class="col-md-6 col-md-offset-3">
<% @questions.each do |question| %>

       
        <p>Name:  <%= question.question %></p>
        
        <p><%= link_to "Edit",  edit_question_path(question) %> </p>
        <p><%= link_to "Delete",  question_path(question), method: :delete %> </p>
        
<% end %>        
    

</div>
</div>

      
    