 
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<div class="jumbotron">
			<div class="container">

				<h1>DailyCheck</h1>
				<p class="lead">DailyCheck helps you keep track of your team's progress. Reply with your dones through email. Simple as that.</p>
				<br>
				<p class="btn btn-lg btn-default" role="button"><%= link_to "Sign up", new_user_registration_path %></p>
			</div>
		</div>

	<div class="row marketing">

	
			
		<div class="row-lg-6">
			<h4>Confirm once and never open the app again.</h4>
			<p>Once you confirm your email then you can update your progress through email.</p>

			<h4>Manage efficiently.</h4>
			<p>Get to see what all of your employees are upto on one page. No need to ping people individually.</p>
		</div>
	</div>
</div>
</div>