<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Good morning, Hope you are having a great day.</h1>

<p>Please reply to this email with answers to the following questions:</p>
<p>Make soure to leave an empty line between each answer</p>
<ul>
<li>1. What are you going to do today?</li>
<li>2. What did you do yesterday?</li>
<li>3. What are the blockers?</li>
    </ul>
    <p>Have a great day!</p>
  </body>
</html>